* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(violet,hsl(197, 100%, 50%),rgb(0, 0, 0));
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

#data-hora p {
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    padding: 20px;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-align: center;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
    background-color: #000000;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

.setor {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.status-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ecbe04;
    text-align: center;
    
}

.info-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
}

#infoTitle {
    font-size: 1.8rem;
    color: #ecbe04;
    margin-bottom: 10px;
    text-align: center;
}

#infoDescription {
    font-size: 1rem;
    color: #fff5f5;
    text-align: center;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    font-size: 1rem;
}
