/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #343a40; /* Tom mais escuro para contraste */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold; /* Negrito para destaque */
}

/* Estilo dos dados de monitoramento */
#data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

#data-hora {
    margin-bottom: 20px;
}

#data-hora p {
    font-size: 1.5rem;
    font-weight: 500; /* Um pouco mais de destaque */
}

#monitoramento {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px; /* Espaçamento superior para separar do timestamp */
}

/* Estilo das cartas */
.card {
    background-color: #f1eded;
    border-radius: 15px; /* Bordas mais arredondadas */
    padding: 30px; /* Mais espaçamento interno */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra mais forte */
    text-align: center;
    width: 300px; /* Aumentar a largura */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicionando transição para a sombra */
}




.card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Estilo do mapa */
.mapa {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre setores */
    flex-wrap: wrap;
    padding: 20px; /* Espaçamento interno */
}

.setor {
    display: inline-block;
    background-color: #475c72; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    padding: 20px 30px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.2s; /* Efeito de transição */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}


/* Painel de informações */
.info-panel {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.info-panel h2 {
    font-size: 1.8rem;
    color: #343a40; /* Cor escura para contraste */
}

.info-panel p {
    font-size: 1.2rem;
    color: #666; /* Cor mais clara para o texto */
}

/* Estilo do rodapé */
footer {
    background-color: #343a40; /* Mesma cor do cabeçalho */
    color: white;
    text-align: center;
    padding: 15px 0; /* Espaço mais amplo */
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Sombra superior */
}

footer p {
    font-size: 1rem;
    font-weight: 300; /* Fonte mais leve para o texto do rodapé */
}
